/* main */
body {
	font-family: 'Gilroy', sans-serif;
	color: #1d1d1d;
	max-width: 1920px;
}

header {
	position: fixed;
	top: 0;
	margin: 0;
	width: 100vw;
	height: 50px;
	background-color: #fff;
	box-shadow: 0px -1px 5px 0px black;
	font-weight: normal;
	z-index: 10;

	}

	header .logo {
		margin-top: 10px;
	}

.row {
	max-width: 100%;
}

.logo {
	width: 160px;
}

nav {
	padding-top: 12px;
	text-align: right;
}

	

	nav li {
		display: inline;
		padding: 10px;
		font-weight: 600;
	}

a {
	text-decoration: none;
	color: #1d1d1d;
}

footer {
	width: 100%;
	background-color: #520073;
	padding: 24px;
	color: #d3d3d3;
	text-align: center;
}

	footer .logo {
		margin-top: 20px;
		width: 320px;
	}

.footer_social{
	color: #d3d3d3;
	padding-top: 5px;
	padding-left: 0;
	}

	.footer_social ul {
		padding-left: 0;
	}

	.footer_social li {
		padding: 4px;
	}

	.footer_social span {
		padding-left: 4px;
		color: #d3d3d3;
	}

.dot {
	color: #520073;
	font-weight: 400;
}

.menu-btn, .menu {
	display: none;
}

.menu-btn {
 	display: inline-block;
 	cursor: pointer;
 	position: fixed;
 	top: 60%;
  	left: 100%;
	transform: translate(-50%, -50%);
	padding-left: 6px;
	padding-top: 4px;
}

.bar1, .bar2, .bar3 {
	width: 18px;
	height: 3px;
	background-color: #333;
	padding: 1px;
	margin-top: 3px;
	transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
	transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
	opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
	transform: rotate(45deg) translate(-8px, -8px) ;
}